body
{
  margin: 0;
  padding: 0;
  background:url(Times_Square_new_york_usa_city_cities_neon_lights_traffic_crowd_people__o_6000x4000-min.jpg) no-repeat;
  background-size: cover;
  font-family:sans-serif;
}
.box1
{
  width:500px;
	height:550px;
  background:rgba(0,0,0,0.60);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  border-radius:10px;
  
}
.box1-img
{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box1 h1
{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box1 h5
{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  padding-top:19px;
}
.box1 p
{
  text-align: justify;
  padding-top:24px;
}

